<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator Website</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="source">
        <select name="src_lang">
            <option value="Hindi">Hindi</option>
            <option value="English">English</option>
            <option value="Tamil">Tamil</option>
            <option value="Urdu">Urdu</option>
        </select>
        <select name="dest_lang">
            <option value="Hindi">Hindi</option>
            <option value="English">English</option>
            <option value="Tamil">Tamil</option>
            <option value="Urdu">Urdu</option>
        </select>
        <input type="submit">
    </form>
</body>
</html>